$primary: #faf6fa;
$secondary: #F8F8F8;
$white:#fff;
$dark:#232323;
$gray:#ccc;


.backgroundColor {
    background-color: $primary;
}

.boldText {
    font-weight: bold;
}

// Variables for admin page 
// Background
$main-bg:white;
$soft-bg:#ddd;
$dark-bg:#222b3c;
// TEXT
$main-color:#2a3447;
$soft-color:#384256;
$dark-color:#2a3447;