.btn{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    color: gray;
    background-color: white;
    padding: 10px;
    width: 120px;
    height: 120px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.formRow{
    display: flex;
    flex-wrap: wrap;   
}