.background {
    background-color: #ebeced;
    padding-bottom: 30px;
}

.heading {
    padding: 54px;
    text-align: center;
    color: #0d6efd;
}

.policyPurpose {
    background-color: #0d6efd;
    padding: 5px 24px;
    color: white;
    border-radius: 5px;
}

.privacyContent {
    background-color: #ffffff;
    border-radius: 5px;
}

.innerContent {
    font-size: 16px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}