.section {
    background-color: #00162a;
    padding: 45px 45px 80px;
}

.quickLinksOuter{
    border-right: 1px solid white;
}

@media (max-width:800px) {
    .quickLinksOuter {
        border-right: 1px solid #00162a;
    }
}

.quickLinks {
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;   
    font-weight: 500;    
} 


.quickLinks + ul > li {
    color: #fff;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #fff;
}

.getInTouch{
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px; 
    font-weight: 500;
}

.iconMain {
    color: #aea8b9;
}

.getInTouch + ul > li {
    color: #fff;
    list-style: none;
}

.map > iframe{   
   border-radius: 5px;
}

.outerSocialDiv{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIconsOuter{
    margin: 10px;
    background-color:#aea8b9;
    border-radius: 5px;
    padding: 10px;

}

.socialIcons{    
    width: 20px;
    height: 20px;
    background-color: #aea8b9;
    color: #00203e;    
    font-size: 20px;
}

